body{
    text-align: center;
}
h1{
    color: orange;
}
.title-red{
    color: red;
}
.p-blue{
    color: blue;
}
.title-green{
    color: green;
}
.p-red{
    color: red;
}
.title-blue{
    color: blue;
}
.p-green{
    color: green;
}